<form #requestForm="ngForm" (ngSubmit)="findVolunteers(requestForm)">
  <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div> -->

  <div class="form-group">
    <label for="inputAddress">Current Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="currentAddress" ngModel>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Pickup / delivery Address</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
      name="toAddress" ngModel>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="city" ngModel>
    </div>
    <!-- <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div> -->
    <div class="form-group col-md-6">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="zip" ngModel>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <div class="text-center">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
          Request
        </button>
      </div>

    </div>
  </div>

</form>
